.textContent * {
  margin: calc(var(--spacing) * 2);
}
.textContent h1 {
  font-size: var(--text-3xl);
}

.textContent h2 {
  font-size: var(--text-2xl);
}

.textContent h3 {
  font-size: var(--text-xl);
}

.textContent h4 {
  font-size: var(--text-lg);
}

.textContent h5 {
  font-size: var(--text-md);
}

.textContent h6 {
  font-size: var(--text-sm);
}

.textContent p {
  text-align: justify;
}

.textContent ul {
  list-style-type: disc;
}

.textContent ol {
  list-style-type: decimal;
}

.textContent hr {
  border-color: black;
  height: 1px;
}
